<div class="card-container">
  <mat-card
    class="card card-content"
    (touchstart)="swipe($event, 'start')"
    (touchend)="swipe($event, 'end')"
    [@cardAnimator]="currentState"
    (@cardAnimator.start)="onAnimationStarted()"
    (@cardAnimator.done)="onAnimationCompleted()"
    (click)="showTicket()"
  >
    <mat-card-header class="card-header">
      <mat-card-title>
        {{ reservation.movieTitle }}
      </mat-card-title>
      <mat-card-subtitle>{{ reservation.location }}</mat-card-subtitle>
      <mat-card-subtitle>{{ reservation.date }}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <div class="card card-buttons" [ngStyle]="{ 'z-index': delBtnZIndex }">
    <button mat-icon-button class="delete-btn" (click)="deleteItem()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
