<div class="card-container">
  <mat-card #reservationCard class="card card-content" (touchstart)="swipe($event, 'start')"
    (touchend)="swipe($event, 'end')" [@cardAnimator]="currentState" (@cardAnimator.start)="onAnimationStarted()"
    (@cardAnimator.done)="onAnimationCompleted()" (click)="showTicket()">
    <mat-card-header class="card-header">
      <mat-card-title class="movieTitle">
        {{ reservation.movieTitle }}
      </mat-card-title>
      <mat-card-subtitle>{{ reservation.location }}</mat-card-subtitle>
      <mat-card-subtitle>{{ date }} </mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <div class="card card-buttons" [ngStyle]="{ 'z-index': delBtnZIndex}">
    <button mat-icon-button class="delete-btn" (click)="deleteItem()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>

<div class="image-container" *ngIf="showImg">
  <img [src]="fileContent">

  <div class="close-button-container">
    <button mat-fab color="primary" class="close-btn" (click)="showImg = false">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>