@use "../../../utilities/variables" as v;

.card-container {
  display: flex;
}

.card {
  margin-top: -1px;
  border-top: 1px solid v.$red !important;
  padding: 10px;
  height: 100px;
}

.card-content {
  width: 100%;
}

.card-buttons {
  background-color: v.$red !important;
  position: absolute;
  right: 0;
  height: 100px;
  width: 75px;
  z-index: -1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card-header {
  padding: 0.9375rem;
}

.delete-btn {
  background-color: v.$red;
  color: white;
  box-shadow: none;
}
