@font-face {
  font-family: "Biennale";
  src: url("/assets/fonts/Biennale.eot");
  src: url("/assets/fonts/Biennale.eot") format("embedded-opentype"),
    url("/assets/fonts/Biennale.ttf") format("truetype"),
    url("/assets/fonts/Biennale.woff") format("svg");
  font-weight: normal;
  font-style: normal;
}
