<div class="insert-reservation-container">
  <div class="file-input-container">
    <input
      #csvInput
      type="file"
      onclick="this.value=null"
      (change)="csvInputChange($event)"
      class="file-upload-field"
    />

    <button mat-icon-button (click)="csvInput.click()" class="file-upload-btn">
      <mat-icon *ngIf="!hasFile">upload</mat-icon>
      <mat-icon *ngIf="hasFile">check</mat-icon>
    </button>
  </div>

  <form class="insert-reservation-form">
    <mat-form-field class="form-field">
      <mat-label>Film</mat-label>
      <input matInput placeholder="The Godfather" />
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Data</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        (dateChange)="onDateSetted('change', $event)"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Ora</mat-label>
      <input [ngxTimepicker]="timePicker" matInput [format]="24" />
      <ngx-material-timepicker
        #timePicker
        (timeSet)="onHourSetted($event)"
      ></ngx-material-timepicker>
    </mat-form-field>
  </form>

  <div class="save-btn-container">
    <button mat-fab color="primary" type="button" (click)="addReservation()">
      <mat-icon class="save-icon">save</mat-icon>
    </button>
  </div>
</div>
