@use "../../../utilities/variables" as v;

.form-field {
  width: 100%;
}

.save-btn {
  background-color: v.$red;
  &-container {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0 20px 20px 0;
    transform: scale(1.5);
  }
}

.save-icon {
  transform: scale(1.5);
}

.file-upload-field {
  display: none;
}

.file-input-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.file-upload-btn {
  transform: scale(1.5);
  color: v.$red;
}

::ng-deep ngx-material-timepicker-content {
  --body-background-color: #fff;
  --primary-font-family: "Roboto", sans-serif;
  --button-color: #df1b3b !important;
  --dial-active-color: #fff;
  --dial-inactive-color: rgba(255, 255, 255, 0.5);
  --dial-background-color: #df1b3b !important;
  --dial-editable-active-color: #df1b3b !important;
  --dial-editable-background-color: #fff;
  --clock-face-time-active-color: #fff;
  --clock-face-time-inactive-color: #6c6c6c;
  --clock-face-inner-time-inactive-color: #929292;
  --clock-face-time-disabled-color: #c5c5c5;
  --clock-face-background-color: #f0f0f0;
  --clock-hand-color: #df1b3b !important;
}
