.icon-lion {
  font-size: 50px !important;
  color: white !important;
  margin-left: 4px;
  margin-bottom: 6px;
}

.nav-bar {
  height: 6%;
  background-color: #df1b3b;
  display: flex;
  justify-content: space-between;

  &-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.site-title {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  margin-left: 15px;
}

.sidenav-btn {
  color: white;
  background-color: transparent;
  padding: 0;
  border: 0;

  &[aria-expanded="true"] .top {
    y: 46;
    rotate: 45deg;
  }
  &[aria-expanded="true"] .mid {
    opacity: 0;
  }
  &[aria-expanded="true"] .bot {
    y: 46;
    rotate: -45deg;
  }

  .line {
    fill: white;
    transition: y 200ms ease-in 200ms, rotate 200ms ease-in, opacity 0ms 200ms;
    transform-origin: center;
  }

  &[aria-expanded="true"] .line {
    transition: y 200ms ease-in, rotate 200ms ease-in 200ms, opacity 0ms 200ms;
  }
}
