@use "./utilities/variables" as v;

html,
body {
  height: 100%;
  color-scheme: light dark;
}
body {
  margin: 0;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  color: v.$clr-text;
  background-color: v.$clr-surface !important;
}
